.container {
  max-width: 60rem;
  padding: 1rem 2rem;
  margin: 3rem auto 0;

  form {
    display: flex;
    align-items: flex-end;
    gap: 1rem;

    div {
      display: flex;
      flex-direction: column;
      width: 100%;

      label {
        font-size: 1rem;
      }

      input {
        height: 4rem;
        width: 100%;
        padding: 0 0 0 1rem;
        font-size: 1.5rem;
        background-color: #f9f9f9;
        border: 0.1rem solid black;
      }
    }

    button {
      width: 15rem;
      height: 4rem;
      border: none;
      border-radius: 0.5rem;
      background-color: #2a5feb;
      color: white;
      cursor: pointer;
    }
  }

  ul {
    list-style: none;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .done_li {  
      border-left: 1.2rem solid rgb(83, 170, 83);
      background-color: #fff;
      border-radius: 5px;
      height: 6rem;
      padding: 0 1rem 0 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    
      label {
        color: grey;
      }
    }

    .exit {
      animation: removeTaskAnim 0.5s ease 0s 1 reverse forwards;
    }

    li {
      border-left: 1.2rem solid rgb(255, 146, 3);
      background-color: #fff;
      border-radius: 5px;
      height: 6rem;
      padding: 0 1rem 0 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
      animation: addTaskAnim 0.5s ease 0s 1 normal forwards;
    }

    input {
      height: 1.5rem;
      width: 1.5rem;
      cursor: pointer;
    }

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      font-size: 1.6rem;
      font-weight: 600;

      button {
        background: none;
        border: none;
        cursor: pointer;
        transform: translateY(0.2rem);
      }
    }
  }

  .delete_All {
    border: 0.1rem solid black;
    border-radius: 5px;
    background-color: #F9F9F9;
    margin-top: 0.5rem;
    padding: 0 1rem;
    height: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 400;

    &:hover{
      filter: brightness(96%);
    }
  }
}

.done_span {
  text-decoration: line-through;
  text-decoration-thickness: 0.2rem;
  text-decoration-color: black;
}

@keyframes addTaskAnim {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes removeTaskAnim {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
