.container {
  max-width: 1200px;
  padding: 0 2rem;
  margin: 7rem auto 0;

  form {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    
    div {
      display: flex;
      flex-direction: column;
      width: 100%;

      label {
        font-size: 0.85rem;
      }

      input {
        height: 4rem;
        width: 100%;
        padding: 0 0 0 1rem;
        font-size: 1.5rem;
      }
    }

    button {
      width: 15rem;
      height: 4rem;
      border: none;
      border-radius: 0.5rem;
      background-color: #314da6 ;
      color: white;
    }
  }
}