.header {  
  background-color: #181c23;
  color: white;
}

.container {
  max-width: 80rem;
  padding: 0 2rem;
  margin: 0 auto;

  span {
    font-size: 1.5rem;
  }

  div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    transform: translateY(50%);
  }
}
