.stats_card {
  background-color: #fff;
  color: rgb(0, 0, 0);
  width: 100%;
  max-width: 13rem;  
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding: 0 2rem 0 2rem;
  gap: 1rem;
  
  

  h2 {
    font-size: 1.2rem;
    line-height: 1;
    text-align: center;
    font-weight: 400;
  }

  p {
    font-size: 2rem;
    line-height: 1;
    font-weight: bolder;
  }
}
